---
import '../../styles/spatial/engine.css';
---

<div class="spatial-ui-root" data-spatial-ui-root aria-hidden="true">
  <div class="spatial-ui-root__fallback" data-spatial-fallback></div>
  <div class="spatial-engine-host" data-spatial-host></div>
</div>
