---
const particles = [
  [8, 12, 0.7], [18, 28, 1.2], [29, 16, 0.8], [42, 24, 1.0], [58, 12, 0.9], [76, 20, 1.3], [91, 15, 0.8],
  [12, 48, 1.1], [24, 58, 0.7], [36, 44, 1.4], [49, 54, 0.9], [66, 42, 1.0], [83, 56, 0.8], [94, 45, 1.2],
  [7, 82, 0.8], [22, 76, 1.2], [34, 88, 0.9], [51, 78, 1.1], [63, 88, 0.7], [78, 74, 1.4], [89, 86, 0.9],
  [5, 34, 0.7], [16, 67, 0.8], [31, 31, 1.1], [44, 70, 0.9], [56, 36, 1.2], [69, 66, 0.8], [81, 31, 1.0], [97, 71, 0.7],
];
---

<div class="visual-background" aria-hidden="true">
  <span class="bg-orb bg-orb-a"></span>
  <span class="bg-orb bg-orb-b"></span>
  <span class="bg-grid"></span>
  <span class="bg-noise"></span>
  <div class="bg-particles">
    {particles.map(([x, y, s]) => <span class="bg-particle" style={`--x:${x}%;--y:${y}%;--s:${s};`} />)}
  </div>
</div>
